*{
	margin: 0;
	padding: 0;
	font-family: Optima;
	box-sizing: border-box;
}

nav{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	padding: 10px 90px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.6);
	border-bottom: 1px solid #fff;
}

nav .logo{
	padding: 22px 20px;
	height: 130px;
	float: left;
	font-size: 65px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li a{
	line-height: 125px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

nav ul li a:hover{
	background: rgba(0, 24, 255, 0.69);
	border-radius: 6px;
}

.about img{
	heigth: auto;
	width: 650px;
	border-radius: 50%;
	margin: 50px;
	padding: 1px;
	border: 8px solid transparent;
	background: #8b0000;	
}

.about-text{
	width: 600px;
	font-size: 20px;
	margin-top: 25px;
	color: #ffffff;
}

.about-text h1{
	font-size: 60px;
	margin-bottom: 15px;
	color: #f5f5f5;
	text-align: center;
}

.about-text h3{
	font-size: 35px;
	text-align: center;
	margin-bottom: 15px;
	background: rgba(255,0,0,.3);
	box-shadow: 0 5px 15px rgba(0,0,0, .5);
	margin: 10px;
	width: 675px;
	padding: 25px;
	line-height: 40px;
	posistion: relative;
	color: white;
	border-radius: 20%;
}

.about-text p{
	letter-spacing: 2px;
	line-heigth: 19px;
	font size: 40px;
	margin-bottom 10px:
}

.main{
	width: 1600px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
