*{ 
	margin: 0;
	padding: 0;
	box-sizing: borderbox;
}

body{
	
}

.wrapper{
	margin-top: 10%;
}

.team{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	flex-wrap: wrap;
}

.team .team_member{
	background: #f4bbff;
	margin: 5px;
	margin-bottom: 50px;
	width: 350px;
	padding: 25px;
	line-height: 25px;
	posistion: relative;
	color: #800000;
}

.team .team_member h3{
	color: #3c1414;
	font-size: 30px;
	margin-top: 40px;
}

.team .team_member p.role{
	color: #000024;
	font-size: 18px;
	text-transform: uppercase;
	margin: 15px 0;
}

.team .team_member .team_img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	posistion: absolute;
	top: -50%;
	left: 50%;
	transform: translateX(125%);	
	background: #eb4c42;
}

.team .team_member .team_img img{
	width: 100px;
	height: 100px;
	border-radius: 50;
}
